# ignores for object, gcov, and executables
*.o
*.gcda
*.gcno
*.gcov
*.dSYM
playdom
playdom.exe
player
player.exe
badTestDrawCard
badTestDrawCard.exe

# ignores for clang-format
.clang-format
.clang-format-all